<p id="notice"><%= notice %></p>

<p>
  <b>Customer:</b>
  <%= @stepseven.customer_id %>
</p>

<p>
  <b>Customer fname:</b>
  <%= @stepseven.customer_fname %>
</p>

<p>
  <b>Customer lname:</b>
  <%= @stepseven.customer_lname %>
</p>

<p>
  <b>Title:</b>
  <%= @stepseven.title %>
</p>

<p>
  <b>Survey:</b>
  <%= @stepseven.survey %>
</p>

<p>
  <b>Phone:</b>
  <%= @stepseven.phone %>
</p>

<p>
  <b>Complete:</b>
  <%= @stepseven.complete %>
</p>


<%= link_to 'Edit', edit_stepseven_path(@stepseven) %> |
<%= link_to 'Back', stepsevens_path %>
