<h1>Listing flowones</h1>

<table>
  <tr>
    <th>Flowlist</th>
    <th>Flowlist name</th>
    <th>Customer</th>
    <th>Customer fname</th>
    <th>Customer lname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @flowones.each do |flowone| %>
  <tr>
    <td><%= flowone.flowlist_id %></td>
    <td><%= flowone.flowlist_name %></td>
    <td><%= flowone.customer_id %></td>
    <td><%= flowone.customer_fname %></td>
    <td><%= flowone.customer_lname %></td>
    <td><%= link_to 'Show', flowone %></td>
    <td><%= link_to 'Edit', edit_flowone_path(flowone) %></td>
    <td><%= link_to 'Destroy', flowone, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Flowone', new_flowone_path %>
