

<%= simple_form_for(@stepnine) do |f| %>
  <%= f.error_notification %>
  <h2>9. Survey Ordered</h2>
  <h3>for customer: <%= @customer.fname.capitalize %> <%= @customer.lname.capitalize%> </h3>


  <p>This step is completed when the survey has been ordered for this customer. </p>
  <div class="inputs">
    <%= f.input :customer_id,    :as => :hidden, :input_html => {:value => @customer.id}     %>
    <%= f.input :customer_fname, :as => :hidden, :input_html => {:value => @customer.fname}  %>
    <%= f.input :customer_lname, :as => :hidden, :input_html => {:value => @customer.lname}  %>
    <%= f.input :complete %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
