<p id="notice"><%= notice %></p>

<p>
  <b>Customer:</b>
  <%= @stepnine.customer_id %>
</p>

<p>
  <b>Customer fname:</b>
  <%= @stepnine.customer_fname %>
</p>

<p>
  <b>Customer lname:</b>
  <%= @stepnine.customer_lname %>
</p>

<p>
  <b>Title:</b>
  <%= @stepnine.title %>
</p>

<p>
  <b>Irrelevent:</b>
  <%= @stepnine.irrelevent %>
</p>

<p>
  <b>Refurb:</b>
  <%= @stepnine.refurb %>
</p>

<p>
  <b>Survey:</b>
  <%= @stepnine.survey %>
</p>

<p>
  <b>Title:</b>
  <%= @stepnine.title %>
</p>

<p>
  <b>Utilities:</b>
  <%= @stepnine.utilities %>
</p>

<p>
  <b>Complete:</b>
  <%= @stepnine.complete %>
</p>


<%= link_to 'Edit', edit_stepnine_path(@stepnine) %> |
<%= link_to 'Back', stepnines_path %>
