<p>For Customer: <%= @customer.fname%> <%= @customer.lname%></p>
<% form_for(@steptwo) do |f|%>
    <% if @steptwo.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@steptwo.errors.count, "error") %> prohibited this customer from being saved:</h2>
          <ul>
            <% @steptwo.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= f.hidden_field :customer_id, :value => @customer.id%>
    <%= f.hidden_field :customer_fname, :value => @customer.fname%>
    <%= f.hidden_field :customer_lname, :value => @customer.lname%>
    <div class="wrapper">
      <div class="steponeform">
        <table style="margin-left: auto;margin-right: auto;text-align: left;">
          <tr>
            <td><%= f.label :complete, "Check this box when this step can be successfully marked Complete."%></td>
            <td><%= f.check_box :complete%></td>
          </tr>
          <tr><%= f.submit "Save Stage Two"%></tr>
        </table>
      </div>
    </div>
<% end %>