<%= simple_form_for(@steptwo) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.hidden :customer_id, @custid %>
    <%= f.hidden :customer_fname, @custfname %>
    <%= f.hidden :customer_lname, @custlname %>
    <%= f.input :title %>
    <%= f.input :complete %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
