

<%= simple_form_for(@stepeight) do |f| %>
  <%= f.error_notification %>
  <h2>Appraisal Ordered</h2>
  <h3>for customer: <%= @customer.fname.capitalize %> <%= @customer.lname.capitalize%> </h3>


  <p>This step is completed when the appraisal has been ordered for this customer.</p>
  <div class="inputs">
    <%= f.input :customer_id,    :as => :hidden, :input_html => {:value => @customer.id}     %>
    <%= f.input :customer_fname, :as => :hidden, :input_html => {:value => @customer.fname}  %>
    <%= f.input :customer_lname, :as => :hidden, :input_html => {:value => @customer.lname}  %>
    <%= f.input :title,          :as => :hidden, :input_html => {:value => 'In Progress'} %>
    <%= f.input :appraisal %>
    <%= f.input :phone %>
    <%= f.input :complete %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
