<p id="notice"><%= notice %></p>

<p>
  <b>Customer:</b>
  <%= @stepeight.customer_id %>
</p>

<p>
  <b>Customer fname:</b>
  <%= @stepeight.customer_fname %>
</p>

<p>
  <b>Customer lname:</b>
  <%= @stepeight.customer_lname %>
</p>

<p>
  <b>Title:</b>
  <%= @stepeight.title %>
</p>

<p>
  <b>Appraisal:</b>
  <%= @stepeight.appraisal %>
</p>

<p>
  <b>Phone:</b>
  <%= @stepeight.phone %>
</p>

<p>
  <b>Complete:</b>
  <%= @stepeight.complete %>
</p>


<%= link_to 'Edit', edit_stepeight_path(@stepeight) %> |
<%= link_to 'Back', stepeights_path %>
