<%= simple_form_for(@stepten) do |f| %>
  <%= f.error_notification %>
  <h2>10. Specs and Bids Signed</h2>


  <p>Complete this step when the customer's Specs and Bids have been signed and submitted.</p>
  <div class="inputs">
    <%= f.input :customer_id,    :as => :hidden, :input_html => {:value => @customer.id}     %>
    <%= f.input :customer_fname, :as => :hidden, :input_html => {:value => @customer.fname}  %>
    <%= f.input :customer_lname, :as => :hidden, :input_html => {:value => @customer.lname}  %>
    <%= f.input :complete %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
