<h1>Listing customers</h1>

<table>
  <tr>
    <th>Fname</th>
    <th>Lname</th>
    <th>Step</th>
    <th>Salesman</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.fname %></td>
    <td><%= customer.lname %></td>
    <td><%= customer.step %></td>
    <td><%= customer.salesman %></td>
    <td><%= link_to 'Show', customer %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <td><%= link_to 'Destroy', customer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Customer', new_customer_path %>
