<p id="notice"><%= notice %></p>

<p>
  <b>Fname:</b>
  <%= @customer.fname %>
</p>

<p>
  <b>Lname:</b>
  <%= @customer.lname %>
</p>

<p>
  <b>Step:</b>
  <%= @customer.step %>
</p>

<p>
  <b>Salesman:</b>
  <%= @customer.salesman %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
