<p id="notice"><%= notice %></p>
<div style="margin-left:auto; margin-right:auto; text-align:center; width:10em">
<table style="text-align:left">
  <tr>
    <td>Customer Name:</td><td><%= @customer.lname.capitalize %>, <%= @customer.fname.capitalize %></td>
  </tr>
  <tr>
    <td>Step:</td><td><%= @customer.step %></td>
  </tr>
  <tr>
    <td>Salesman:</td><td><%= @customer.salesman %></td>
  </tr>
</table>
</div>
<h2><%= link_to 'Move this customer into Finance!', finance_path(@customer.id)%></h2>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
