<%= simple_form_for(@ticket) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :title %>
    <%= f.input :submitter %>
    <%= f.input :type, :collection => Ticket::TYPES, :prompt => "Choose a problem type:"%>
    <%= f.input :content %>
    <%= f.input :accepted %>
    <%= f.input :inprogress %>
    <%= f.input :completed %>
    <%= f.input :closed %>

  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
