<h1>Listing tickets</h1>

<table class="search" style="margin-left: auto;margin-right: auto;text-align: left; width: 30em;">
  <tr>
    <th>Ticket ID#</th>
    <th>Title</th>
    <th>Submitter</th>

    <% if user_signed_in? %>
    <th></th>
    <th></th>
    <% end %>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= link_to ticket.id, ticket %></td>
    <td><%= link_to ticket.title, ticket %></td>
    <td><%= ticket.submitter %></td>

    <% if user_signed_in? %>
    <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
    <td><%= link_to 'Destroy', ticket, :confirm => 'Are you sure?', :method => :delete %></td>
    <%end%>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ticket', new_ticket_path %>
