<p id="notice"><%= notice %></p>

<p>
  <b>Customer:</b>
  <%= @stepeleven.customer_id %>
</p>

<p>
  <b>Customer fname:</b>
  <%= @stepeleven.customer_fname %>
</p>

<p>
  <b>Customer lname:</b>
  <%= @stepeleven.customer_lname %>
</p>

<p>
  <b>Updated by:</b>
  <%= @stepeleven.updated_by %>
</p>

<p>
  <b>Complete:</b>
  <%= @stepeleven.complete %>
</p>


<%= link_to 'Edit', edit_stepeleven_path(@stepeleven) %> |
<%= link_to 'Back', stepelevens_path %>
