<%= simple_form_for(@stepfive) do |f| %>
  <%= f.error_notification %>
  <h2>5. Title Ordered</h2>
  <h3>for customer: <%= @customer.fname.capitalize %> <%= @customer.lname.capitalize%> </h3>

  <p>If this step is incomplete, click the button below without checking the box. Once the box has been checked, this step will be complete. </p>
  <p>This step is completed when the Good Faith Estimate has been signed and sent to the lender.</p>
  <div class="inputs">
    <%= f.input :customer_id,    :as => :hidden, :input_html => {:value => @customer.id}     %>
    <%= f.input :customer_fname, :as => :hidden, :input_html => {:value => @customer.fname}  %>
    <%= f.input :customer_lname, :as => :hidden, :input_html => {:value => @customer.lname}  %>
    <%= f.input :complete %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
