<%= simple_form_for(@stepfourteen) do |f| %>
  <%= f.error_notification %>
  <h2>14. Schedule Close</h2>


  <p>Complete this step when the customer's loan has been finalized and is ready to be funded and closed. </p>
  <div class="inputs">
    <%= f.input :customer_id,    :as => :hidden, :input_html => {:value => @customer.id}     %>
    <%= f.input :customer_fname, :as => :hidden, :input_html => {:value => @customer.fname}  %>
    <%= f.input :customer_lname, :as => :hidden, :input_html => {:value => @customer.lname}  %>
    <%= f.input :updated_by, :as => :hidden, :input_html => {:value => current_user.email}   %>
    <%= f.input :complete %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
