<%= form_for(Stepone.new) do |f| %>
  <%= f.hidden_field :customer_id, :value => @custid %>
  <%= f.hidden_field :customer_fname, :value => @firstname %>
  <%= f.hidden_field :customer_lname, :value => @lastname %>
  <%= f.hidden_field :title, :value => 'In Progress'%>
  <div class="field">
    <%= label_tag :creditcheck, 'Credit Check Performed?' %><br />
    <%= f.check_box :creditcheck, :value => @stepone.creditcheck %>
  </div>
    <div class="field">
    <%= label_tag :credexp, 'Experian Score' %><br />
    <%= f.number_field(:credexp, :value => @stepone.credexp)%>
  </div>
  <div class="field">
    <%= label_tag :credequ, 'Equifax Score' %><br />
    <%= f.number_field(:credequ, :value => @stepone.credequ) %>
  </div>
  <div class="field">
    <%= label_tag :credtra, 'Transunion Score' %><br />
    <%= f.number_field(:credtra, :value => @stepone.credtra) %>
  </div>
  <div class="field">
    <%= label_tag :lender, 'Approved by lender?' %><br />
    <%= f.check_box :lender %>
  </div>
  <div class="actions">
    <%= f.submit "Complete" %>
  </div>
<% end %>