<% #This code creates the first of many Flowsteps. The secret is the in progress entered in the title fields%>

<p>For Customer: <%= @customer.fname%> <%= @customer.lname%></p>

<%= simple_form_for(@stepone) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :customer_id,    :as => :hidden, :input_html => {:value => @customer.id}     %>
    <%= f.input :customer_fname, :as => :hidden, :input_html => {:value => @customer.fname}  %>
    <%= f.input :customer_lname, :as => :hidden, :input_html => {:value => @customer.lname}  %>
    <%= f.input :title,          :as => :hidden, :input_html => {:value => 'In Progress'} %>
    <%= f.input :creditcheck, :label => 'Check after performing a credit check' %>
    <%= f.input :credexp,     :label => 'Experian Score' %>
    <%= f.input :credequ,     :label => 'Equifax Score' %>
    <%= f.input :credtra,     :label => 'Transunion Score' %>
    <%= f.input :complete,    :label => 'Check this box when the loan has been approved. This will complete the step.'%>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>