<h1>Editing: 1. Structure and Submit</h1>
<p>For Customer: <%= @customer.fname.capitalize%> <%= @customer.lname.capitalize%></p>

<%= render :partial => 'form' %>

<%= link_to 'Show', @stepone %> |
<%= link_to 'Back', stepones_path %>
