<div id="searchcontent">
<h2 id="searchtitle">Finance Received</h2>
<%= form_tag stepones_path, :method => 'get' do%>
    <%= hidden_field_tag :direction, params[:direction]%>
    <%= hidden_field_tag :sort, params[:sort]%>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>
<table class="search">
  <tr>
    <th><span><%= sortable "customer_id", "Customer #"%>&nbsp;</span></th>
    <th><span><%= sortable "customer_lname", "Last" %>, <%= sortable "customer_fname", "First" %>&nbsp;</span></th>
    <th><span><%= sortable "title", "Step Status" %>&nbsp;</span></th>
    <th><span><%= sortable "updated_at", "Updated at" %>&nbsp;</span></th>
    <th>Modify</th>
    <th>Remove Step</th>
  </tr>
<tbody>
<% @stepones.each do |stepone| %>
  <tr>
    <td><%= stepone.customer_id %></td>
    <td><%= stepone.customer_lname.capitalize %>, <%= stepone.customer_fname.capitalize %></td>
    <td><%= stepone.title %></td>
    <td><%= stepone.updated_at %></td>
    <td><%= link_to 'Edit', edit_stepone_path(stepone) %></td>
    <td><%= link_to 'Destroy', stepone, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>
<%= will_paginate @stepones %>

<br />
</div>