<p id="notice"><%= notice %></p>

<p>
  <b>Customer:</b>
  <%= @stepone.customer_id %>
</p>

<p>
  <b>Customer fname:</b>
  <%= @stepone.customer_fname %>
</p>

<p>
  <b>Customer lname:</b>
  <%= @stepone.customer_lname %>
</p>

<p>
  <b>Title:</b>
  <%= @stepone.title %>
</p>

<p>
  <b>Creditcheck:</b>
  <%= @stepone.creditcheck %>
</p>

<p>
  <b>Credexp:</b>
  <%= @stepone.credexp %>
</p>

<p>
  <b>Credequ:</b>
  <%= @stepone.credequ %>
</p>

<p>
  <b>Credtra:</b>
  <%= @stepone.credtra %>
</p>

<p>
  <b>Lender:</b>
  <%= @stepone.lender %>
</p>


<%= link_to 'Edit', edit_stepone_path(@stepone) %> |
<%= link_to 'Back', stepones_path %>
