<%= simple_form_for(@stepthree) do |f| %>
  <%= f.error_notification %>
  <h2>3. GFE Received</h2>

  <p>If this step is incomplete, click the button below without checking the box. Once the box has been checked, this step will be complete. </p>

  <div class="inputs">
    <%= f.input :customer_id,    :as => :hidden, :input_html => {:value => @customer.id}     %>
    <%= f.input :customer_fname, :as => :hidden, :input_html => {:value => @customer.fname}  %>
    <%= f.input :customer_lname, :as => :hidden, :input_html => {:value => @customer.lname}  %>
    <%= f.input :complete %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
