<!DOCTYPE html>
<html>
<head>
  <title>Financeflow</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body id="bodyid">
  <div id="logo">
    <a href="http://localhost:3000"><img alt="financeFlow" src="/images/logo.jpg" width="250px"/></a>
  </div>
  <div class="user_nav" style="border-bottom:1px solid #102b44;">
    <div class="roundedcornr_top_283612">
      <div></div>
    </div>
    <%if user_signed_in?%>
      Signed in as <%= current_user.email %>. Not you?
      <%= link_to "Sign out", destroy_user_session_path %>
    <%else %>
      <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
    <%end %>
  </div>
  <%if user_signed_in?%>
  <div class="remote">
    <div class="roundedcornr_box_283612">
    <div class="roundedcornr_top_283612">
      <div></div>
    </div>
      <div class="roundedcornr_content_283612">
          <h2>Controller</h2>
          <p><%= link_to 'New Customer', new_customer_path %></p>
          <p><%= link_to 'Customer Viewer', customers_path %></p>
          <p><%= link_to 'Financial Step', flowlists_path %></p>
          <p><%= link_to 'Logout', destroy_user_session_path %></p>
      </div>
    </div>
    <div class="roundedcornr_bottom_283612">
      <div></div>
    </div>
  </div>
  <div class="financelinks">
    <div class="roundedcornr_box_283612">
    <div class="roundedcornr_top_283612">
      <div></div>
    </div>
      <div class="roundedcornr_content_283612">
        <span style="text-align:center"><h2>Finance Steps</h2>
        <p>Click each step to view details</p></span>
          <ol>
            <li><%=link_to 'Finance Received', stepones_path  %></li>
            <li><a>Submitted for Preapp</a></li>
            <li><a>Initial Cond. Received</a></li>
            <li><a>GFE Received</a></li>
            <li><a>GFE Signed and Sent</a></li>
            <li><a>Title Ordered</a></li>
            <li><a>Survey Ordered</a></li>
            <li><a>Appraisal Ordered</a></li>
            <li><a>Check in HUD</a></li>
            <li><a>Loan Closed</a></li>
            <li><a>Loan Funded</a></li>
          </ol>
        </div>
    </div>
    <div class="roundedcornr_bottom_283612">
      <div></div>
    </div>
  </div>
  <% end %>
  <div class="maincontent">
    <div class="roundedcornr_box_283612">
    <div class="roundedcornr_top_283612">
      <div></div>
    </div>
      <div class="roundedcornr_content_283612">
        <%= yield %>
      </div>
    </div>
    <div class="roundedcornr_bottom_283612">
      <div></div>
    </div>
  </div>
</body>
</html>
