<!DOCTYPE html>
<html>
<head>
  <title>Financeflow</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body id="bodyid">
  <div id="logo">
    <%= link_to image_tag("logo.jpg", :border => 0, :width => '250px'), root_path, %>
  </div>
  <div class="user_nav" style="border-bottom:1px solid #102b44;">
    <div class="roundedcornr_top_283612">
      <div></div>
    </div>
    <%if user_signed_in?%>
      Signed in as <%= current_user.email %>. Not you?
      <%= link_to "Sign out", destroy_user_session_path %>
    <%else %>
      <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
    <%end %>
  </div>
  <%if user_signed_in?%>
  <div class="remote">
    <div class="roundedcornr_box_283612">
    <div class="roundedcornr_top_283612">
      <div></div>
    </div>
      <div class="roundedcornr_content_283612">
          <h2>Controller</h2>
          <p><%= link_to 'New Customer', new_customer_path %></p>
          <p><%= link_to 'Customer Viewer', customers_path %></p>
          <p><%= link_to 'Logout', destroy_user_session_path %></p>
      </div>
    </div>
    <div class="roundedcornr_bottom_283612">
      <div></div>
    </div>
  </div>
  <div class="financelinks">
    <div class="roundedcornr_box_283612">
    <div class="roundedcornr_top_283612">
      <div></div>
    </div>
      <div class="roundedcornr_content_283612">
        <div style="text-align:center"><h2>Finance Steps</h2>
        <p>Click each step to view details</p></div>
          <ol>
            <li><%=link_to 'Finance Received', stepones_path  %></li>
            <li><%=link_to 'Initial Cond. Received', steptwos_path %></li>
            <li><%=link_to 'Submitted for Preapp', stepthrees_path %></li>
            <li><%=link_to 'GFE Received', stepfours_path %></li>
            <li><%=link_to 'GFE Signed and Sent', stepfives_path %></li>
            <li><%=link_to 'Title Ordered', stepsixes_path %></li>
            <li><%=link_to 'Survey Ordered', stepsevens_path %></li>
            <li><%=link_to 'Appraisal Ordered', stepeights_path %></li>
            <li><%=link_to 'Check in HUD', stepnines_path %></li>
            <li><%=link_to 'Loan Closed/Funded', steptens_path %></li>
          </ol>
        </div>
    </div>
    <div class="roundedcornr_bottom_283612">
      <div></div>
    </div>
  </div>
  <% end %>
  <div class="maincontent">
    <div class="roundedcornr_box_283612">
    <div class="roundedcornr_top_283612">
      <div></div>
    </div>
      <div class="roundedcornr_content_283612">
        <%= yield %>
      </div>
    </div>
    <div class="roundedcornr_bottom_283612">
      <div></div>
    </div>
  </div>
</body>
</html>
